.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* nav styles */

.hero{
  background-image: url(/image/Assets/Hero-bg.png);
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title{
  font-size: 34px;
  font-weight: 800;
  color: #4E47FF;
}

.nav-btn{
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 12px 36px 12px 36px;
  background-color: #4E47FF;
  border-radius: 5px;
}


/* banner  style */
.banner{
  align-items: center;
  margin: 235px 267px;
}

.banner-content h3{
     font-size: 65px;
     font-weight: bold;
}

.banner-btn{
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4E47FF;
  border-radius: 5px;
  padding: 12px 36px 12px 36px;
  margin-left: 200px;
}

